
.App {
  background-color: #141414;
  color: white;
  min-height: 100vh;
  padding: 20px;
}

h1 {
  color: #e50914;
  font-family: Arial, sans-serif;
  text-align: center;
}

.movielist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.moviecard {
  background-color: #333;
  border-radius: 15px;
  padding: 10px;
  transition: transform 0.3s ease;
}

.moviecard:hover {
  transform: scale(1.05);
}

.img-card {
  border-radius: 10px;
  height: 300px;
  object-fit: cover;
}

.desc {
  color: #b3b3b3;
}


button {
  background-color: #e50914;
  border: none;
  padding: 10px 15px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #ff0a16;
}


.desc {
  overflow: hidden;
  text-overflow: ellipsis;  /* Add three dots at the end */
  max-height: 4.5em;       
  line-height: 1.5em;       

}

